<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="form">
        <h1>Código do Voto</h1>
        <p>Insira o Código Único que foi dado à você pela escola</p>
        <form action="/" method="POST">
            <input type="text" placeholder="Your code..." name="codeinput" id="codeinput">
            <input type="submit" value="Votar">
        </form>
    </div>  
</body>
</html>
